h1 {
  font: 40px "Bradley Hand ITC", Helvetica, Arial, sans-serif;
  margin: 20px;
  font-weight: bold;
}
body { 
  margin: 0px;
  font: 20px "Bradley Hand ITC", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #9BE5B1;
  color: white;
}

p {
  font-size: 32px;
}

.navBar {
  background-color: #9BE5B1;
  display: flex;
}

.navBar_links > a {
  padding: 0 10px 0 10px;  
  color: #FFF;
  text-decoration: none;
  font: 20px "Bradley Hand ITC", Helvetica, Arial, sans-serif;
  text-align: center;
}

.navBar > div {
   display: inline-block;
}

.navBar_links > a:hover {
  color: #000;
}

.navBar_links {
  padding: 20px 0 20px 0;
  min-width: 320px;
}

.navBar_banner {
  background-image:url('https://i.ibb.co/GVd1bxm/depositphotos-93477414-stock-illustration-seamless-floral-vector-pattern-symmetrical.jpg');
  width: 100%;
  background-repeat: repeat;
  background-size: contain;
}

.content {
  text-align: center;
}

.list {
  width: 40%;
  list-style-type: none;
  border-radius: 25px;
  border: 2px solid #A284A1;
  text-align: center;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FDD2F0;
  font-weight: bold;
}

.list_item {
  border-radius: 25px;
  border: 2px solid #A284A1;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px; 
  background-color: #9BE5B1;
  color: white; 
  font-weight: bold;
}

.blog-title {
  background-color: #FDD2F0;
  border: 2px solid #A284A1;
  border-radius: 25px;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  font-size: 20px;
}

.blog-text {
  font-size: 15px;
}

.created-on {
  font-size: 10px;
  color: #A284A1;
  font-weight: none;
}

.manage > div > a {
  padding-right: 5px;
  text-decoration: none;
  font-size: 15px;
  color: #A284A1;
}

.manage > div > a:hover {
  color: white;
}

#blogText.form-control {
  height: 200px;
}

textarea {
  color: white
} 

.form-control {
  width: 40%;
  background-color: #FDD2F0;
  border: 2px solid #A284A1;
  border-radius: 25px;
  padding: 10px;
  font: 20px "Bradley Hand ITC";
}

.form-group > label {
  font-size: 32px;
}

.button {
  background-color: #9BE5B1;
  border: 2px solid #A284A1;
  border-radius: 25px;
  font: inherit;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
