doctype html
html
 head
  title #{title}
  link(rel='stylesheet', href='/stylesheets/style.css')
 body
  header
   include navBar.pug
  body
   h1 #{title}
   form(action='/blog-edit/' + blog._id, method='post', role="form")
    div.form-group
     .form-group.row
        label(for='blogTitle') Blog Title:
        br
        - var blogTitle = blog.blogTitle
        textarea#blogTitle.form-control(type='text', name='blogTitle')=blogTitle
     .form-group.row
        label(for='blogText') Blog Text:
        br
        -var blogText = blog.blogText
        textarea#blogText.form-control(type='text', name='blogText')=blogText
     button.button(type='submit' role='submit') Save Blog
  
