doctype html
html
 head
  title #{title}
  link(rel='stylesheet', href='/stylesheets/style.css')
 body
  header
   include navBar.pug
  body
   h1 #{title}
   p Are you sure you want to delete this blog?
   form(action='/blog-delete/' + blog._id, method='post', role='form')
    button.button(type='submit' role='submit') Yes
   br
   a.button(href='http://184.73.106.112/blog-list') No
  
