doctype html
html
 head
  title #{title}
  link(rel='stylesheet', href='/stylesheets/style.css')
 body
  header
   include navBar.pug
  body
   h1 #{title}
   p This website is under construction.
  footer
