doctype html
html
 head
  title #{title}
  link(rel='stylesheet', href='/stylesheets/style.css')
 body
  header
   include navBar.pug
  body
   h1 #{title}
   form(action='/blog-add/', method='post', role="form")
    div.form-group
     .form-group.row
        label(for='blogTitle') Blog Title:
        textArea#blogTitle.form-control(type='text', placeholder='Blog Title' name='blogTitle')
     .form-group.row
        label(for='blogText') Blog Text:
        textArea#blogText.form-control(type='text', placeholder='Blog Text' name='blogText')
     button.btn.btn-primary(type='submit' role='submit') Add Blog
  

