<h1>{{vm.challengerName}} challenged {{vm.playerName}} to a game of Tic Tac Toe.</h1>
<title>{{vm.pageHeader.title}}</title>
<div class="tictactoe">
<div ng-click="vm.markTile(1)" class="box">{{vm.printLetter1}}</div>
<div ng-click="vm.markTile(2)" class="box">{{vm.printLetter2}}</div>
<div ng-click="vm.markTile(3)" class="box">{{vm.printLetter3}}</div>
<div ng-click="vm.markTile(4)" class="box">{{vm.printLetter4}}</div>
<div ng-click="vm.markTile(5)" class="box">{{vm.printLetter5}}</div>
<div ng-click="vm.markTile(6)" class="box">{{vm.printLetter6}}</div>
<div ng-click="vm.markTile(7)" class="box">{{vm.printLetter7}}</div>
<div ng-click="vm.markTile(8)" class="box">{{vm.printLetter8}}</div>
<div ng-click="vm.markTile(9)" class="box">{{vm.printLetter9}}</div>

</div>
